.DS_Store
npm-debug.log
node_modules
dist
*.swp
*.swo
.idea/
.vscode/
log
.DS_Store
npm-debug.*
node_modules
dist
*.swp
*.swo
.idea/
.vscode/
logs/
bin/*
interceptor
config/db.js
lib/temp.min.js.map
webfunny/
schema_temp/
.eslintrc
lib/*.map