.purchase-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #4b5c6b; }
  .purchase-container .head-container {
    width: 100%;
    text-align: center;
    color: #fff;
    padding-top: 0.6rem; }
    .purchase-container .head-container h1 {
      color: #fff; }
    .purchase-container .head-container .des-box {
      text-decoration: underline; }
      .purchase-container .head-container .des-box span {
        padding: 0 0.1rem;
        cursor: pointer; }
  .purchase-container .letter-container {
    width: 100%;
    padding: 0.2rem;
    margin-top: 0.2rem;
    color: #fff; }
    .purchase-container .letter-container .bold {
      color: #ea6847; }
    .purchase-container .letter-container h2 {
      color: #fff; }
    .purchase-container .letter-container ul, .purchase-container .letter-container li {
      list-style: none;
      font-size: 0.16rem;
      font-weight: 300; }
    .purchase-container .letter-container li {
      padding: 0.07rem; }
  .purchase-container .purchase-box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }
    .purchase-container .purchase-box .buy-three {
      border: 0.02rem solid #ea6847;
      opacity: 0.5; }
      .purchase-container .purchase-box .buy-three .corner-badge {
        width: 0;
        height: 0;
        border-top: 0.8rem solid #ea6847;
        border-left: 0.8rem solid transparent;
        position: absolute;
        margin-left: 2.68rem;
        margin-top: -0.3rem; }
      .purchase-container .purchase-box .buy-three .corner-text {
        display: inline-block;
        position: absolute;
        -ms-transform: rotate(45deg) translateY(-0.14rem);
        margin-left: 2.78rem;
        transform: rotate(45deg) translateY(-0.14rem);
        color: #fff;
        font-size: 0.18rem; }
    .purchase-container .purchase-box .buy-box {
      width: 3.5rem;
      height: 8.8rem;
      padding: 0.3rem 0;
      margin: 0.15rem;
      border-radius: 0.04rem;
      background: #fff; }
      .purchase-container .purchase-box .buy-box h2 {
        text-align: left;
        padding: 0 10%; }
      .purchase-container .purchase-box .buy-box hr {
        margin: 0.2rem 10%; }
      .purchase-container .purchase-box .buy-box .des {
        margin: 0;
        padding: 0.05rem 15%;
        text-align: left; }
      .purchase-container .purchase-box .buy-box .buy-btn {
        width: 70%;
        height: 0.5rem;
        margin-top: 0.2rem; }
      .purchase-container .purchase-box .buy-box .subscribe1 {
        width: 38%;
        float: left;
        margin-left: 10%;
        margin-right: 2%; }
      .purchase-container .purchase-box .buy-box .subscribe2 {
        width: 38%;
        float: left;
        margin-left: 2%;
        margin-right: 10%; }
      .purchase-container .purchase-box .buy-box .plan-price {
        text-align: center; }
      .purchase-container .purchase-box .buy-box .plan-name {
        text-align: center;
        font-size: 0.2rem;
        font-weight: 500; }
      .purchase-container .purchase-box .buy-box .price-content {
        text-align: center;
        padding: 0.2rem 0; }
        .purchase-container .purchase-box .buy-box .price-content .small {
          font-size: 0.16rem;
          padding: 0.02rem;
          color: #999; }
        .purchase-container .purchase-box .buy-box .price-content .price {
          font-size: 0.3rem;
          padding: 0.02rem; }
        .purchase-container .purchase-box .buy-box .price-content .wechat-circle {
          font-size: 0.24rem;
          text-decoration: underline;
          cursor: pointer; }
      .purchase-container .purchase-box .buy-box .function-list {
        list-style: none;
        text-align: left;
        padding-left: 10%; }
        .purchase-container .purchase-box .buy-box .function-list li {
          list-style: none;
          font-size: 0.16rem;
          padding: 0.1rem 0; }
          .purchase-container .purchase-box .buy-box .function-list li .fun-icon {
            font-size: 0.18rem;
            color: #ea6847;
            margin-right: 0.1rem; }

.free-info-container .des {
  font-size: 0.16rem;
  line-height: 0.22rem; }

.free-info-container .pay-list {
  width: 100%;
  height: 2rem; }
  .free-info-container .pay-list img {
    height: 100%;
    float: left; }

.free-info-container .ant-row {
  padding: 0.1rem 0; }

.free-info-container .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  padding-left: 0; }

.letter-info-container {
  width: 7.15rem !important; }
  .letter-info-container .letter-container {
    width: 100%;
    color: #333; }
    .letter-info-container .letter-container .bold {
      color: #ea6847; }
    .letter-info-container .letter-container h2 {
      color: #333; }
    .letter-info-container .letter-container ul, .letter-info-container .letter-container li {
      list-style: none;
      font-size: 0.16rem;
      font-weight: 400; }
    .letter-info-container .letter-container li {
      padding: 0.07rem; }

.share-info-container {
  width: 7.15rem !important; }
  .share-info-container .des {
    font-size: 0.16rem;
    line-height: 0.22rem; }
  .share-info-container .pay-list {
    width: 100%;
    height: 2rem; }
    .share-info-container .pay-list img {
      height: 100%;
      float: left; }
  .share-info-container .ant-row {
    padding: 0.1rem 0; }
  .share-info-container .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
    padding-left: 0; }

.pay-info-container .des {
  font-size: 0.16rem;
  line-height: 0.22rem; }

.pay-info-container .pay-list {
  width: 100%;
  height: 2rem; }
  .pay-info-container .pay-list img {
    height: 100%;
    float: left; }

.pay-info-container .ant-row {
  padding: 0.1rem 0; }

.pay-info-container .ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  padding-left: 0; }

