<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  <link href="././common.d14127d65d7ed3c78b08.css" rel="stylesheet"><link href="././createProject.d14127d65d7ed3c78b08.css" rel="stylesheet"><link href="././logSearch.d14127d65d7ed3c78b08.css" rel="stylesheet"><link href="././overview.d14127d65d7ed3c78b08.css" rel="stylesheet"><link href="././waringRule.d14127d65d7ed3c78b08.css" rel="stylesheet"></head>
  <body>
  <script type="text/javascript" src="./js/common.d14127d65d7ed3c78b08.min.js"></script><script type="text/javascript" src="./js/createProject.d14127d65d7ed3c78b08.min.js"></script><script type="text/javascript" src="./js/logSearch.d14127d65d7ed3c78b08.min.js"></script><script type="text/javascript" src="./js/overview.d14127d65d7ed3c78b08.min.js"></script><script type="text/javascript" src="./js/waringRule.d14127d65d7ed3c78b08.min.js"></script></body>
</html>