<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>
  <link href="././common.35d35422f4cf124bc921.css" rel="stylesheet"><link href="././createProject.35d35422f4cf124bc921.css" rel="stylesheet"><link href="././logSearch.35d35422f4cf124bc921.css" rel="stylesheet"><link href="././overview.35d35422f4cf124bc921.css" rel="stylesheet"><link href="././waringRule.35d35422f4cf124bc921.css" rel="stylesheet"></head>
  <body>
  <script type="text/javascript" src="./js/common.35d35422f4cf124bc921.min.js"></script><script type="text/javascript" src="./js/createProject.35d35422f4cf124bc921.min.js"></script><script type="text/javascript" src="./js/logSearch.35d35422f4cf124bc921.min.js"></script><script type="text/javascript" src="./js/overview.35d35422f4cf124bc921.min.js"></script><script type="text/javascript" src="./js/waringRule.35d35422f4cf124bc921.min.js"></script></body>
</html>