<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/png" href="//www.webfunny.cn/webfunny_multi/favicon.ico">
    <title>前端监控系统，无埋点监控前端页面日志</title>
    <meta name="theme-color" content="#5eace0">
    <meta name="application-name" content="通过向html页面中插入一段简单的JS探针代码，实现无埋点监控前端页面的用户行为，包括但不限于 PV/UV、报错日志、请求日志、静态资源加载情况、用户点击行为以及截图信息等等，目的在于帮助前端开发提高解决线上问题的效率。前端监控系统">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css">
    
    <script async src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>
    <script language="javascript">
      // viewport 设置
      // 针对原来高清方案的基础, 增加了根据屏幕宽度计算不同font-size 来达到对不同屏幕的适配
      var win = window;
      win.flex = function(baseFontSize, fontscale) {
        var targetWidth = 375;
        var screenWidth = win.screen.width;
        var _baseFontSize = (baseFontSize || 100) * screenWidth / targetWidth;
        var _fontscale = fontscale || 1;

        var doc = win.document;
        var ua = navigator.userAgent;
        var matches = ua.match(/Android[\S\s]+AppleWebkit\/(\d{3})/i);
        var UCversion = ua.match(/U3\/((\d+|\.){5,})/i);
        var isUCHd = UCversion && parseInt(UCversion[1].split('.').join(''), 10) >= 80;
        var isIos = navigator.appVersion.match(/(iphone|ipad|ipod)/gi);
        var dpr = win.devicePixelRatio || 1;
        if (!isIos && !(matches && matches[1] > 534) && !isUCHd) {
          //在部分4.3及以下安卓机型中，screen.width是物理像素宽度，暂时没有找到准确判断的方法，所以不做针对375宽度的缩放
          _baseFontSize = baseFontSize || 100;
          // 如果非iOS, 非Android4.3以上, 非UC内核, 就不执行高清, dpr设为1;
          dpr = 1;
        }
        var scale = 1 / dpr;

        var metaEl = doc.querySelector('meta[name="viewport"]');
        if (!metaEl) {
          metaEl = doc.createElement('meta');
          metaEl.setAttribute('name', 'viewport');
          doc.head.appendChild(metaEl);
        }
        var uaString = ua.toLowerCase();
        if(uaString.match(/(iphone|ipad|ipod)/gi) || uaString.match(/(android)/gi)) {
          doc.documentElement.style.fontSize = '100px';
        } else {
          metaEl.setAttribute('content', 'width=device-width,user-scalable=no,initial-scale='+scale+',maximum-scale='+scale+',minimum-scale='+scale);
          doc.documentElement.style.fontSize = _baseFontSize * dpr * _fontscale + 'px';
        }
      };

      flex(100, 1);
    </script>
<link href="././css/common.562558c1d8ab64357629.css" rel="stylesheet"><link href="././css/javascriptErrorDetail.562558c1d8ab64357629.css" rel="stylesheet"></head>
<body>
<div id="app">
</div>
<div id="progress_bar" class="ui-progress-bar ui-container">
    <div class="ui-progress">
        <div class="wen-li"></div>
    </div>
</div>
<script type="text/javascript" src="././js/common.562558c1d8ab64357629.min.js"></script><script type="text/javascript" src="././js/javascriptErrorDetail.562558c1d8ab64357629.min.js"></script></body>
</html>
